.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header__nav > ul > li > ul > li a {
    white-space: pre;
}

.tech-talk-btn {
    width: 300px;
    margin: 20px 0;
}

.accordion .card {
    background: none;
    color: white;
}

.accordion h2 {
    font-size: initial;
}

.accordion .card-header {
    background: none;
    border: 1px solid white;
}

.accordion button {
    background: none;
    color: white;
    font-size: 20px;
}

.events__item.past {
    opacity: 0.5;
    position: relative;
}

.events__item.past .finished{
    position: absolute;
    font-size: 36px;
    color: black;
    background: white;
    padding: 10px;
    top: 110px;
    left: 30%;
}