
/*.curl:before,*/
/*.curl:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    left: 12.5%;*/
/*    bottom: 5.8%;*/
/*    width: 70%;*/
/*    max-width: 300px;*/
/*    max-height: 100px;*/
/*    height: 55%;*/
/*    box-shadow: 0 12px 15px rgba(0, 0, 0, .3);*/
/*    transform: skew(-10deg) rotate(-6deg);*/
/*}*/
.curl:after {
    left: auto;
    right: 5.8%;
    bottom: auto;
    top: 14.16%;
    transform: skew(-15deg) rotate(-84deg);
}

.curl:hover {
    width: 120px;
    height: 120px;
    cursor: pointer;
}
/*.curl:hover:before,*/
/*.curl:hover:after {*/
/*    box-shadow: 0 24px 30px rgba(0, 0, 0, .3);*/
/*}*/