.container,
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    @include atMedium {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.row.white {
    background: #fafafa;
    box-shadow: inset 0px 2px 7px 0px rgba(0,0,0,0.64);
     h2, p {
         color: black;
     }
}