// Word break
.u-hyphens {
    hyphens: auto;
}


// Width
.w {
    &-md {
        @include atMedium {
            &-100 {
                width: 100%;
            }
        }
    }
}

.row-padding {
 padding: 50px 0;
}

.col-md-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


