.btn {
  padding: 1rem 5rem;
  min-height: 4.167rem;
  border-radius: 10rem;
  line-height: 1;
  color: $color-white;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $color-accent-4;

  @extend .p;
  @extend .p--xl;
  @include linkStates($color-white, none);
  @include atMedium {
    padding: .75rem 3.75rem;
    min-height: 3.125rem;
    font-size: 1.25rem;
  }

  span {
    position: relative;
    z-index: 3;
  }

  &.green {
    background: $color-accent-5;
  }

  &:hover {
    opacity: 0.9;
  }
}