.index {

  .txt-rotate {
    white-space: nowrap;
  }

  .counted {
    .item {
      display: flex;
      align-items: center;
      margin: 10px 0;

      span {
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 25px;
        background: $color-accent-2;
        font-size: 1rem;
      }
    }
  }
}

p.card-text {
  color: black;
  font-size: 14px;
}
