.looking-for-bit {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 980px) {
    transform: scale(0.6) translateX(35px) translateY(-22px);
  }

  p {
    font-size: 14px;
    position: relative;
    right: 70px;
    text-align: right;
  }

  img {
    height: 40px;
  }
}

.curl {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(225deg, #fcb1ca, #fcb1ca 45%, #fcb1ca 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
