.programme {
    &__main {
        text-align: center;

        img {
            user-select: none;
            pointer-events: none;
        }

        &-img {
            &--1 {
                width: 100%;
            }

            &--2,
            &--3 {
                width: 60%;
            }
        }
    }

    &__box {
        padding: 2.5rem;
        border-radius: .5rem;
        background-color: rgba($color-white, .2);
        text-align: left;
        margin: 0 auto;
        @include atMedium {
            padding: 1.875rem;
            border-radius: .375rem;
            max-width: 33.125rem;
        }
    }
}